<!DOCTYPE html>
<html>
  <head>
    <title>The Great Word-Counter of Oz!</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>
    <div class="container" id="content">
      <%= yield %>
    </div>
  </body>
</html>
