<h2 id="result">You looked for '<%= @word %>' in '<%= @sentence %>'!</br>
It occured <span id="score"><%= @output %></span> times.</h2>

<div id="footer">
  <h3>Do you want to test <a href="/">another</a> sentence?</h3>
  <h3>Or do something <a href="/different">entirely</a> different?</h3>
</div>
